div.card{
    width: 100%;
    background-color: white;
    border: none; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:25px;
}
.shopname{
    font-family: 'Sofia';
    font-size: 70px;
    text-align: center;
}

